<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

`id` , int(11), NOT NULL AUTO_INCREMENT,
`gr_firstname` , varchar(55), COLLATE utf8_unicode_ci DEFAULT NULL,
`gr_lastname` , varchar(55), COLLATE utf8_unicode_ci DEFAULT NULL,
`gr_nickname` , varchar(255), COLLATE utf8_unicode_ci DEFAULT NULL,
`tdenomination_id` , int(11), DEFAULT NULL,
`tmstatus_id` , int(11), DEFAULT NULL,
`gr_wedno` , int(11), DEFAULT NULL,
`gr_age` varchar(25) COLLATE utf8_unicode_ci DEFAULT NULL,
`tgender_id` , int(11), DEFAULT NULL,
`gr_birthplace` , varchar(255), COLLATE utf8_unicode_ci DEFAULT NULL,
`gr_residence` , varchar(255), COLLATE utf8_unicode_ci DEFAULT NULL,
`gr_occupation` , varchar(255), COLLATE utf8_unicode_ci DEFAULT NULL,
`br_firstname` , varchar(55), COLLATE utf8_unicode_ci DEFAULT NULL,
`br_lastname` , varchar(55), COLLATE utf8_unicode_ci DEFAULT NULL,
`br_nickname` , varchar(255), COLLATE utf8_unicode_ci DEFAULT NULL,
`bdenomination_id` , int(11), DEFAULT NULL,
`bmstatus_id` , int(11), DEFAULT NULL,
`br_wedno` , int(11), DEFAULT NULL,
`br_age` varchar(25) COLLATE utf8_unicode_ci DEFAULT NULL,
`br_birthplace` , varchar(255), COLLATE utf8_unicode_ci DEFAULT NULL,
`br_residence` , varchar(255), COLLATE utf8_unicode_ci DEFAULT NULL,
`br_occupation` , varchar(255), COLLATE utf8_unicode_ci DEFAULT NULL,
`julian` , tinyint(1), DEFAULT NULL,
`gregorian` , tinyint(1), DEFAULT NULL,
`wed_day` , int(11), DEFAULT NULL,
`wed_month` , int(11), DEFAULT NULL,
`wed_year` , int(11), DEFAULT NULL,
`wed_place` , varchar(55), COLLATE utf8_unicode_ci DEFAULT NULL,
`grfth_firstname` , varchar(55), COLLATE utf8_unicode_ci DEFAULT NULL,
`grfth_lastname` , varchar(55), COLLATE utf8_unicode_ci DEFAULT NULL,
`grfth_nickname` , varchar(255), COLLATE utf8_unicode_ci DEFAULT NULL,
`grfth_gender` , int(11), DEFAULT NULL,
`gfdenomination_id` , int(11), DEFAULT NULL,
`grfth_residence` , varchar(255), COLLATE utf8_unicode_ci DEFAULT NULL,
`grmth_firstname` , varchar(55), COLLATE utf8_unicode_ci DEFAULT NULL,
`grmth_lastname` , varchar(55), COLLATE utf8_unicode_ci DEFAULT NULL,
`grmth_nickname` , varchar(255), COLLATE utf8_unicode_ci DEFAULT NULL,
`grmth_gender` , int(11), DEFAULT NULL,
`gmdenomination_id` , int(11), DEFAULT NULL,
`grmth_residence` , varchar(255), COLLATE utf8_unicode_ci DEFAULT NULL,
`brfth_firstname` , varchar(55), COLLATE utf8_unicode_ci DEFAULT NULL,
`brfth_lastname` , varchar(55), COLLATE utf8_unicode_ci DEFAULT NULL,
`brfth_nickname` , varchar(255), COLLATE utf8_unicode_ci DEFAULT NULL,
`brfth_gender` , int(11), DEFAULT NULL,
`bfdenomination_id` , int(11), DEFAULT NULL,
`brfth_residence` , varchar(255), COLLATE utf8_unicode_ci DEFAULT NULL,
`brmth_firstname` , varchar(255), COLLATE utf8_unicode_ci DEFAULT NULL,
`brmth_lastname` , varchar(255), COLLATE utf8_unicode_ci DEFAULT NULL,
`brmth_nickname` , varchar(255), COLLATE utf8_unicode_ci DEFAULT NULL,
`brmth_gender` , int(11), DEFAULT NULL,
`bmdenomination_id` , int(11), DEFAULT NULL,
`brmth_residence` , varchar(255), COLLATE utf8_unicode_ci DEFAULT NULL,
`tpriest_id` , int(11), DEFAULT NULL,
`fbann_day` , int(11), DEFAULT NULL,
`fbann_month` , int(11), DEFAULT NULL,
`fbann_year` , int(11), DEFAULT NULL,
`sbann_day` , int(11), DEFAULT NULL,
`sbann_month` , int(11), DEFAULT NULL,
`sbann_year` , int(11), DEFAULT NULL,
`tbann_day` , int(11), DEFAULT NULL,
`tbann_month` , int(11), DEFAULT NULL,
`tbann_year` , int(11), DEFAULT NULL,
`witf_firstname` , varchar(55), COLLATE utf8_unicode_ci DEFAULT NULL,
`witf_lastname` , varchar(55), COLLATE utf8_unicode_ci DEFAULT NULL,
`witf_nickname` , varchar(255), COLLATE utf8_unicode_ci DEFAULT NULL,
`wfgender_id` , int(11), DEFAULT NULL,
`wits_firstname` , varchar(55), COLLATE utf8_unicode_ci DEFAULT NULL,
`wits_lastname` , varchar(55), COLLATE utf8_unicode_ci DEFAULT NULL,
`wits_nickname` , varchar(255), COLLATE utf8_unicode_ci DEFAULT NULL,
`wsgender_id` , int(11), DEFAULT NULL,
`witt_firstname` , varchar(255), COLLATE utf8_unicode_ci DEFAULT NULL,
`witt_lastname` , varchar(55), COLLATE utf8_unicode_ci DEFAULT NULL,
`witt_nickname` , varchar(255), COLLATE utf8_unicode_ci DEFAULT NULL,
`wtgender_id` , int(11), DEFAULT NULL,
`dispensation` , tinyint(1), DEFAULT NULL,
`disp_day` , int(11), DEFAULT NULL,
`disp_month` , int(11), DEFAULT NULL,
`disp_year` , int(11), DEFAULT NULL,
`remarks` , text, COLLATE utf8_unicode_ci,
`no_record` , int(11), DEFAULT NULL,
`tsource_id` , int(11), DEFAULT NULL,
`author` , varchar(255), COLLATE utf8_unicode_ci DEFAULT NULL,
`tlocation_id` , int(11), DEFAULT NULL,
`created_at` datetime DEFAULT NULL,
`updated_at` datetime DEFAULT NULL,
`tdispensation_id` , int(11), DEFAULT NULL,
`source_page` varchar(20) COLLATE utf8_unicode_ci DEFAULT NULL,
`obs` , tinyint(1), DEFAULT NULL,
`br_gender` , int(11), DEFAULT NULL,
`edituser` , varchar(255), COLLATE utf8_unicode_ci DEFAULT NULL,
`eng_day` , int(11), DEFAULT NULL,
`eng_month` , int(11), DEFAULT NULL,
`eng_year` , int(11), DEFAULT NULL,
`sremarks` , text, COLLATE utf8_unicode_ci,
`sobs` , tinyint(1), DEFAULT NULL,
`grfth_occupation` , varchar(255), COLLATE utf8_unicode_ci DEFAULT NULL,
`grmth_occupation` , varchar(255), COLLATE utf8_unicode_ci DEFAULT NULL,
`brmth_occupation` , varchar(255), COLLATE utf8_unicode_ci DEFAULT NULL,
`brfth_occupation` , varchar(255), COLLATE utf8_unicode_ci DEFAULT NULL,
`mb` , tinyint(1), DEFAULT NULL,
`other_disp` , tinyint(1), DEFAULT NULL,
`fdispensation_id` , int(11), DEFAULT NULL,
`sdispensation_id` , int(11), DEFAULT NULL,
`wit1_firstname` , varchar(55), COLLATE utf8_unicode_ci DEFAULT NULL,
`wit1_lastname` , varchar(55), COLLATE utf8_unicode_ci DEFAULT NULL,
`wit1_nickname` , varchar(255), COLLATE utf8_unicode_ci DEFAULT NULL,
`w1gender_id` , int(11), DEFAULT NULL,
`w1denomination_id` , int(11), DEFAULT NULL,
`wit1_occupation` , varchar(255), COLLATE utf8_unicode_ci DEFAULT NULL,
`wit1_residence` , varchar(255), COLLATE utf8_unicode_ci DEFAULT NULL,
`wit2_firstname` , varchar(55), COLLATE utf8_unicode_ci DEFAULT NULL,
`wit2_lastname` , varchar(55), COLLATE utf8_unicode_ci DEFAULT NULL,
`wit2_nickname` , varchar(255), COLLATE utf8_unicode_ci DEFAULT NULL,
`w2gender_id` , int(11), DEFAULT NULL,
`w2denomination_id` , int(11), DEFAULT NULL,
`wit2_occupation` , varchar(255), COLLATE utf8_unicode_ci DEFAULT NULL,
`wit2_residence` , varchar(255), COLLATE utf8_unicode_ci DEFAULT NULL,
`wit3_firstname` , varchar(55), COLLATE utf8_unicode_ci DEFAULT NULL,
`wit3_lastname` , varchar(55), COLLATE utf8_unicode_ci DEFAULT NULL,
`wit3_nickname` , varchar(255), COLLATE utf8_unicode_ci DEFAULT NULL,
`w3gender_id` , int(11), DEFAULT NULL,
`w3denomination_id` , int(11), DEFAULT NULL,
`wit3_occupation` , varchar(255), COLLATE utf8_unicode_ci DEFAULT NULL,
`wit3_residence` , varchar(255), COLLATE utf8_unicode_ci DEFAULT NULL,
`wit4_firstname` , varchar(55), COLLATE utf8_unicode_ci DEFAULT NULL,
`wit4_lastname` , varchar(55), COLLATE utf8_unicode_ci DEFAULT NULL,
`wit4_nickname` , varchar(255), COLLATE utf8_unicode_ci DEFAULT NULL,
`w4gender_id` , int(11), DEFAULT NULL,
`w4denomination_id` , int(11), DEFAULT NULL,
`wit4_occupation` , varchar(255), COLLATE utf8_unicode_ci DEFAULT NULL,
`wit4_residence` , varchar(255), COLLATE utf8_unicode_ci DEFAULT NULL,
`wfdenomination_id` , int(11), DEFAULT NULL,
`witf_occupation` , varchar(255), COLLATE utf8_unicode_ci DEFAULT NULL,
`witf_residence` , varchar(255), COLLATE utf8_unicode_ci DEFAULT NULL,
`wsdenomination_id` , int(11), DEFAULT NULL,
`wits_occupation` , varchar(255), COLLATE utf8_unicode_ci DEFAULT NULL,
`wits_residence` , varchar(255), COLLATE utf8_unicode_ci DEFAULT NULL,
`wtdenomination_id` , int(11), DEFAULT NULL,
`witt_occupation` , varchar(255), COLLATE utf8_unicode_ci DEFAULT NULL,
`witt_residence` , varchar(255), COLLATE utf8_unicode_ci DEFAULT NULL,
`tethnicity_id` , int(11), DEFAULT NULL,
`bethnicity_id` , int(11), DEFAULT NULL,
`gfethnicity_id` , int(11), DEFAULT NULL,
`gmethnicity_id` , int(11), DEFAULT NULL,
`bfethnicity_id` , int(11), DEFAULT NULL,
`bmethnicity_id` , int(11), DEFAULT NULL,
`wfethnicity_id` , int(11), DEFAULT NULL,
`wsethnicity_id` , int(11), DEFAULT NULL,
`wtethnicity_id` , int(11), DEFAULT NULL,
`w1ethnicity_id` , int(11), DEFAULT NULL,
`w2ethnicity_id` , int(11), DEFAULT NULL,
`w3ethnicity_id` , int(11), DEFAULT NULL,
`w4ethnicity_id` , int(11), DEFAULT NULL,
`grdmth` , tinyint(1), DEFAULT NULL,
`grdfth` , tinyint(1), DEFAULT NULL,
`brdmth` , tinyint(1), DEFAULT NULL,
`brdfth` , tinyint(1), DEFAULT NULL,
`br_virgin` , tinyint(1), DEFAULT NULL,
`gr_virgin` , tinyint(1), DEFAULT NULL,
`bann_no` , tinyint(4), DEFAULT NULL,
`gr_birthday` , smallint(6), DEFAULT NULL,
`gr_birthmonth` , smallint(6), DEFAULT NULL,
`gr_birthyear` , int(11), DEFAULT NULL,
`br_birthday` , smallint(6), DEFAULT NULL,
`br_birthmonth` , smallint(6), DEFAULT NULL,
`br_birthyear` , int(11), DEFAULT NULL,

</body>
</html>