<p id="notice"><%= notice %></p>

<div id="info">
<p>
  <strong>Accessibility:</strong>
  <%= @saccess.name %>
</p>
</div>

<%= link_to 'Edit', edit_saccess_path(@saccess) %> |
<%= link_to 'Back', saccesses_path %>
